[Unit]
Description=Celery Service
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/nosetime-crawl.conf
WorkingDirectory=/partita
ExecStart=/bin/sh -c "${CELERY_BIN} multi start ${CELERYD_NODES} -A ${CELERY_APP} ${CELERYD_OPTS} --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}"
[Install]
WantedBy=multi-user.target